h1{
  font-size: 70px;
  font-family: 'Caveat Brush', cursive;
  color: #ff8c69;
  text-decoration: underline;
}

h2 {
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;
}



body{
  background-color: #0077be;
}

a {
  font-size: 30px;
  font-family: verdana;
}

p {
  font-size: 20px;
  font-family: futura;
  margin: 0;
  text-align: justify;
}

td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  background-color: white;
  font font-family: verdana;
}

th {
  background: #ff8c69;
  border-color: white;
  font font-family: verdana;
}


.navbar {
  background-color: #ff8c69 ;
  height: 100px;
  width: 100%;
  top: 0;
  margin: 0;
}

#menu li{
    font-size: 30px;
    font-family: verdana;
    display: inline;
    padding-left: 60px;

}

.salmonpic {
  background-image: url("salmon.png");
  border: 0;
  text-align: center;
  line-height: 246px;
  width: 787px;
  height:246px;
  margin: 0 auto;

}

.mainpage {
  padding: 10%;
  height: 400px;
  text-align: center;
  border: 0;
}

.mainpage div{
  background-color: #002244;
  height: 400px;
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 30px;
  border: 0;
  vertical-align: top;


}

.about{
background-image: url(spaceneedle.jpg);
color: #ff8c69;
}

.article{
background-image: url(pike.jpg);
color: white;
}

.articletwo{
background-image: url(cookiejar.jpg);
color: yellow;
}

#storelocations {
  height: 400px;
  width: 400px;
  border: 0;
  color: #ff8c69;

}

.storehead {
  height: 100px;
  width: 600px;
  margin: 0 auto;
  color: white;
}

# currentstores{
  color: white;
}
.stores{
  height: 400px;
  width: 1130px;
  margin: 0 auto;

}

.firstAndPike{
  height: 200px;
  width: 220px;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  color: #ff8c69;
}

.seatac{
  height: 200px;
  width: 220px;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  color: #ff8c69;
}

.seattlecenter{
  height: 200px;
  width: 220px;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  color: #ff8c69;
}

.capitolhill{
  height: 200px;
  width: 220px;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  color: #ff8c69;
}

.alki{
  height: 200px;
  width: 220px;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  color: #ff8c69;
}

ul {
  list-style-type: none;
}
