h1{
  font-size: 70px;
  font-family: futura;
  color: #ffa07a;
  text-decoration: underline;

}

ul{
  font-size: 30px;
  font-family: verdana;
}

body{
  background-color: #0077be;
}

div {
  font-size: 50px;
  font-family: verdana;
  text-decoration: underline;
  color: white;
}

a{
  font-size: 50px;
  font-family: verdana;
}

p{
  font-size: 40px;
  color: white;
  font-family: futura;
}
