h1{
  font-size: 70px;
  font-family: 'Rubik', sans-serif;
  color: #ffa07a;
  text-decoration: underline;

}

ul{
  font-size: 30px;
  font-family: verdana;
}

body{
  background-color: #0077be;
  padding: 1rem;
}

a{
  font-size: 50px;
  font-family: verdana;
}

p{
  font-size: 40px;
  color: white;
  font-family: futura;
}

td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  background-color: white;
  font font-family: verdana;
}
th {
  background: #ff8c69;
  border-color: white;
  font font-family: verdana;
}

#cookie-store-form {
  background-color: #ff8c69;
  width: 20%;
  margin-right: 0;
  min-width: 225px;
  font font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

label, input {
  display: block;
}

div {
  border: 99px solid;
}

.navbar {
  background-color: black;
  height: 100px;
  width: 100%;
  top: 0;
